  .inputBox {
    height: 30px;
    font-size: 16px;
  }
  
  .customButton {
    background-color: #81b2e6;
    color: #fff;
    padding: 0px 20px;
    cursor: pointer;
    border-radius: 15px;
    width: 100px;
  }
  
  .customButton:hover {
    background-color: #798ea4;
  }

  .signup {
    font-style: italic;
  }

  .signup:hover {
    font-style: italic;
    color: #7c8891;
    cursor:pointer;
  }

  .sameRow {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-left: 5px;
  }

  .spaceBetween {
    margin-right: 10px;
  }
  
  label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #4090b4;
  }
  