
  .moveLeft {
    font-size: 20px;
    align-items: center;
    margin-left: 5px;
  }

  .moveRight {
    font-size: 20px;
    align-items: center;
    margin-right: 5px;
  }

  .inputBox {
    height: 30px;
    font-size: 16px;
  }

  .toLogin {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .haveAccount {
    margin-right: 10px;
  }

  .login {
    font-style: italic;

  }

  .login:hover {
    font-style: italic;
    color: #7c8891;
    cursor:pointer;
    
  }

  .inputsName {
    margin-right: 20px;
  }
  
  
  .customButton {
    background-color: #81b2e6;
    color: #fff;
    padding: 0px 20px;
    cursor: pointer;
    border-radius: 15px;
    width: 100px;
  }
  
  .customButton:hover {
    background-color: #798ea4;
  }

  .sameRow {
    font-size: 16px;
    display: flex;
    margin-left: 5px;
  }
  
  